
$darkGreen: #A7AE84;
$darkBlue: #939CA2;
$gray: #C7D2B7;
$lightBlue: #D9EBEA;

$fontNormal: 1.28em;

$bezierTime: cubic-bezier(.16 , .84 , .44 , 1);

*{
	margin: 0px;
	font-family: "Open Sans","Helvetica","Microsoft JhengHei","PT Sans Narrow","Source Han Sans TWHK",sans-serif;
}

body{
	overflow-y: scroll;
}

.responsive{
	width: 80%;
	max-width: 700px;
	margin: 0 auto;
}