
#logo{
	position: relative;
	

	#bgCircle{
		position: relative;
		width: 200px;
		height: 200px;
		margin: 16px;
	}

	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50% , -50%);
	}

	#logoBg{
		width: 100%;
	}
	#logoMain{
		width: 80%;
		transform: translate(-50% , -55%);	
	}
}