
$tabs: ("about" , "rules" ,  "schedule" , "staff" , "apply");

#navbar{
	position: relative;
	text-align: center;
	font-size: $fontNormal;
	color: $darkGreen;
	background-color: #fff;
	max-width: 600px;
	margin: 2em auto 0 auto;
	border-radius: .3em;
	box-shadow: 0 0 .5em .5em #fff;

	// landing page animation
	transition: top 1000ms $bezierTime;
	top: 6em;
	&.open{
		top: 0;
	}

	.nav , a{
		position: relative; // for below triangle
		text-decoration: none;
		color: $darkGreen;
		font-weight: 600;
		padding: 0 0.5em;
		transition: color 800ms $bezierTime;

		h1{
			color: $darkGreen;
			position: absolute;
			left: 50%;
			top: .6em;
			transform: translateX(-50%);
			opacity: 0;
			transition: opacity 800ms $bezierTime;
			pointer-events: none;
			font-size: 3em;
		}

		&:hover{
			color: $darkBlue;
		}
	}

	.nav_triangle{
		display: inline-block;
		border-top: 0.4em solid transparent;
		border-bottom: 0.4em solid transparent;
		border-left: 0.6em solid $darkGreen;
	}
	.nav_sub_triangle{
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		border-top: 0.6em solid $darkGreen;
		border-left: 0.4em solid transparent;
		border-right: 0.4em solid transparent;
		opacity: 0;
		transition: opacity 800ms $bezierTime;
	}

	@media screen and (max-width: 800px){
		.nav , a{
			display: block;
			position: static;
		}
		.nav_sub_triangle , .nav_seperator{
			display: none;
		}
		.nav > h1{
			position: absolute;
			top: 110%;
		}
	}
}

// css trick
// use target selector and 
.targetor{
	position: fixed;
	top: 0;
}
@each $tab in $tabs {
	#target_#{$tab}:target + ##{$tab}.open{
		color: $darkBlue;
		.nav_sub_triangle{
			transition: opacity 800ms $bezierTime 300ms;
			opacity: 1;
		}
		h1{
			transition: opacity 800ms $bezierTime 300ms;
			opacity: 1;
		}
	}
}
