$darkGreen: #5A6865;
$darkBlue: #939CA2;
$gray: #C7D2B7;
$lightBlue: #D9EBEA;

$fontNormal: 1.28em;

$bezierTime: cubic-bezier(.16 , .84 , .44 , 1);
$easeInOutBack: cubic-bezier(.68 , -.55 , .265 , 1.55);

* {
	margin: 0px;
	font-family: Helvetica, "Open Sans", "Microsoft JhengHei", "PT Sans Narrow", "Source Han Sans TWHK", sans-serif;
}

body {
	overflow-y: scroll;
	position: relative;
}

.responsive {
	width: 80%;
	max-width: 700px;
	margin: 0 auto;
}
.center {
	text-align: center;
}

a {
	color: $darkGreen;
}
a.button {
	display: inline-block;
	margin: 2em auto;
	padding: 1em;
	cursor: pointer;
	text-decoration: none;
	transition: color 300ms $easeInOutBack,
					background-color 300ms $easeInOutBack,
					box-shadow 300ms $easeInOutBack;
	box-shadow: 0 0 1em $darkGreen;
	background-color: $darkGreen;
	color: $gray;

	&:hover {
		box-shadow: 0 0 1em $gray;
		background-color: $gray;
		color: $darkGreen;
	}
}
